* {
  margin: 0;
}

:root {
  --header-height: 150px;
  --footer-height: 50px;
  --section-bar-height: 5vw;
}

header {
  display: flex;
  height: var(--header-height);
  background-color: blue;
  justify-content: center;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.test-section {
  width: 80vw;
  height: fit-content;
  background-color: black;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

.section-bar {
  display: flex;
  align-items: center;
  height: var(--section-bar-height);
  background-color: cyan;
}

.section-bar h2 {
  background-color: red;
}

.section-bar button {
  width: var(--section-bar-height);
}

.section-content {
  padding: 1vw;
}

p {
  color: white;
}

footer {
  height: var(--header-height);
  background-color: gray;
}

/* KOLLA DUBLESERING AV CSS */
