* {
  margin: 0;
}

:root {
  --header-height: 150px;
  --footer-height: 50px;
  --section-bar-height: 2vw;
}

header {
  display: flex;
  height: var(--header-height);
  background-color: blue;
  justify-content: center;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  background-color: rgb(122, 122, 2);
}

.test-section {
  width: 80vw;
  height: fit-content;
  margin: 10px auto;
  border-radius: 10px;
  overflow: hidden;
}

.section-bar {
  display: flex;
  align-items: center;
  height: var(--section-bar-height);
  background-color: rgb(0, 135, 135);
  padding: 10px;
}

.section-bar h2 {
  background-color: red;
  flex: 1;
}

.section-bar a {
  width: var(--section-bar-height);
  aspect-ratio: 1;
  transition: 100ms;
  font-size: var(--section-bar-height);
}

.section-arrow-open {
  rotate: 270deg;
}

.section-content {
  color: white;
  background-color: black;
  transition: 100ms ease-in-out;
  display: flex;
  flex-wrap: wrap;
  height: 10%;
  max-height: 0;
  gap: 10px;
  justify-content: center;
}

.section-content-open {
  max-height: 70vh;
  padding: 1vw;
  height: 200%;
}

p {
  color: white;
}

footer {
  height: var(--header-height);
  background-color: gray;
}

.section-content .range-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.section-content .range-container label,
.section-content .range-container input {
  display: inline-block;
  text-align: center;
  /* flex-basis: 20%; */
}

.section-content img,
.section-content h3 {
  /* max-height: 20vh; */
}

.flex-center {
}

.flex-br {
  flex-basis: 100%;
  width: 0;
}

/* KOLLA DUBLESERING AV CSS */
