* {
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  --header-height: 15vh;
  --header-size: 5vh;
  --footer-height: 230px;
  --dark: rgb(45, 0, 40);
  --medium-dark: rgb(20, 30, 70);
  --medium-bright: rgb(50, 90, 120);
  --bright: rgb(162, 219, 211);
  --fire: rgb(255, 170, 0);
}

body {
  background-color: var(--dark);
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* General */

.flex-br {
  flex-basis: 100%;
  width: 0;
}

a,
label {
  text-decoration: none;
  color: var(--bright);
}

a:link {
  color: var(--bright);
}

a:visited {
  color: var(--medium-bright);
}

a:hover {
  color: var(--bright);
}

a:active {
  color: var(--medium-bright);
}

h2 {
  font-size: 2rem;
  color: var(--bright);
}

h3 {
  font-size: 1.7rem;
  color: var(--bright);
}

.range-container {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

/* */

/* Header */

header {
  position: relative;
  display: block;
  height: var(--header-height);
  background-color: var(--dark);
  justify-content: space-between;
  align-items: center;
}

header div {
  margin: 0 5vw;
}

#logo {
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  left: 0;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-size);
}

#logo-image {
  position: relative;
  background-color: black;
  height: inherit;
  min-width: var(--header-size);
  max-width: var(--header-size);
  border: calc(var(--header-size) * 0.15) solid black;
  border-radius: 50%;
  overflow: hidden;
  margin-left: calc(var(--header-size) / 3);
  margin-right: calc(var(--header-size) / 3);
}

.logo-icon {
  color: var(--fire);
  position: absolute;
  left: calc(var(--header-size) * 0.5);
  transform: translate(-50%);
}

#logo-lines-top {
  top: calc(var(--header-size) * -0.47);
  font-size: calc(var(--header-size) * 1.3);
}

#logo-lines-bottom {
  top: calc(var(--header-size) * -0.9);
  font-size: calc(var(--header-size) * 2);
}

#logo-fire {
  top: calc(var(--header-size) * 0.1);
  font-size: calc(var(--header-size) * 0.55);
}

#logo h1 {
  color: var(--fire);
  font-size: var(--header-size);
}

nav {
  height: 80%;
  flex: 6;
  display: none;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  padding-left: 0;
  gap: 10%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  background-color: transparent;
  padding: 0.8vw;
  border-radius: 1vw;
  white-space: nowrap;
  font-size: calc(var(--header-size) / 2);
}

nav ul li a:hover {
  background-color: var(--medium-dark);
}

#login {
  flex: 1;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
}

/* */

/* Main */

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow: hidden;
}

#the-test {
  display: flex;
  width: fit-content;
  position: relative;
}

.test-filler {
  width: 100vw;
}

.test-section {
  width: 100vw;
  height: fit-content;
  margin: 5px auto;
  overflow: hidden;
}

.section-bar {
  display: flex;
  align-items: center;
  height: 3vh;
  background-color: var(--medium-bright);
  padding: 10px;
}

.section-bar h3 {
  flex: 1;
}

.section-bar-arrow {
  display: none;
  width: 1.2rem;
  aspect-ratio: 1;
  transition: 170ms;
  font-size: 1.2rem;
}

.section-arrow-open {
  rotate: 270deg;
}

.section-content {
  background-color: var(--medium-dark);
  transition: 100ms ease-in-out;
  display: flex;
  flex-wrap: wrap;
  /* height: 10%; */
  max-height: 0;
  gap: 10px;
  justify-content: center;
}

.section-content-open {
  max-height: 100vh;
  padding: 1vw;
  /* height: 200%; */
}

.section-content .range-container label,
.section-content .range-container input {
  display: inline-block;
  text-align: center;
  /* flex-basis: 20%; */
}

table {
  background-color: var(--bright);
  border-collapse: collapse;
  border: 2px solid var(--bright);
}

td,
th {
  border: 1px solid var(--dark);
}

thead tr {
  background-color: var(--medium-dark);
}

tr {
  background-color: var(--medium-bright);
}

tr:nth-child(even) {
  background-color: var(--medium-dark);
}

tfoot tr {
  background-color: var(--bright);
}

/* */

/* Contact style */

#contact-form {
  display: flex;
  width: 80vw;
  margin: 4vh auto 0 auto;
  background-color: var(--medium-dark);
  border-radius: 10px;
  overflow: hidden;
}

#contact-form h2 {
  text-align: center;
}

#contact-form input,
#contact-form textarea,
#contact-form select,
#contact-form label {
  width: fit-content;
  margin: 0 2%;
  resize: none;
}

#contact-form label {
  margin-top: 2%;
  color: var(--bright);
}

#subject-container {
  display: flex;
  flex-direction: column;
}

/* Footer */

footer {
  height: var(--footer-height);
  background-color: var(--dark);
  display: flex;
  position: relative;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

footer div {
  height: fit-content;
  position: relative;
  top: 10%;
}

footer div ul {
  margin-left: -40px;
}

footer div ul li a {
  white-space: nowrap;
}

#footer-links-settings {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#footer-links {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1rem;
  flex-wrap: wrap;
  width: 100px;
}

#footer-links h2 {
  padding-left: 0;
}

#footer-links a {
  color: var(--medium-bright);
}

#footer-links a:hover {
  color: var(--bright);
}

#footer-links a i {
  font-size: 2rem;
}

#footer-links a p {
  display: none;
}

#language-form {
  margin-top: 16%;
}

/* */

/* Media queries */
@media (min-width: 480px) {
  :root {
    --header-height: calc(2vw + 40px);
    --header-size: calc(2vw + 15px);
  }

  header {
    display: flex;
    justify-content: center;
  }

  header div {
    margin: initial;
  }

  #logo {
    flex: 2;
    margin-right: 2vw;
    position: initial;
    transform: initial;
  }
  #logo-image {
    margin-right: calc(var(--header-size) / 3);
  }
  nav {
    display: flex;
    justify-content: flex-start;
  }
  #login {
    position: initial;
    transform: initial;
  }

  #the-test {
    flex-direction: column;
    align-self: center;
  }

  .test-section {
    width: 80vw;
    border-radius: 10px;
  }

  .section-bar-arrow {
    display: initial;
  }

  #footer-links {
    width: 210px;
  }

  #footer-links a p {
    display: initial;
  }

  #footer-links div:nth-child(5) {
    display: none;
  }
}

/* KOLLA DUBLESERING AV CSS */

/*IDEAS:
0.5x speed scrolling background
clickable section bar
on hover effects for everything
music sliders sound on hover
scrolling through javascript on section open
*/
